.share-container {
    position: relative;
    display: inline-block;
}

.share-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.share-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.share-options a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.share-options a:hover {
    background-color: #f0f0f0;
}

    
.invalid {
    color: red;
}

.valid {
    color: green;
    text-decoration: line-through;
}

  .toast-success {
    background-color: #51A351 !important;
    color: #ffffff !important;
  }

  .toast-error {
    background-color: #BD362F !important;
    color: #ffffff !important;
  }

  .toast-info {
    background-color: #2F96B4 !important;
    color: #ffffff !important;
  }

  .toast-warning {
    background-color: #F89406 !important;
    color: #ffffff !important;
  }
